<style>
@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&family=Oswald:wght@200..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>

body {
    
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    //  <weight>: Use a value from 200 to 700
    //  <uniquifier>: Use a unique and descriptive class name

    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  .oswald-<uniquifier>
    //     font-family: "Oswald", sans-serif;
    //     font-optical-sizing: auto;
    //     font-weight: <weight>;
    //     font-style: normal;


.roboto-serif-<uniquifier> {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

