body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    //  <weight>: Use a value from 200 to 700
    //  <uniquifier>: Use a unique and descriptive class name

    //  background-color: white;
    //  .content {
    //      font-size: 14px;
    //  .oswald-<uniquifier>
    //     font-family: "Oswald", sans-serif;
    //     font-optical-sizing: auto;
    //     font-weight: <weight>;
    //     font-style: normal;
    
    @font-face{
    font-family: robotoserif;
    src: url('../fonts/RobotoSerif_120pt-Regular.ttf');
         font-family: "RobotoSerif", serif;
        font-optical-sizing: auto;
         font-weight: <weight>;
         font-style: normal;
}
}
