
body {
    
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    //  <weight>: Use a value from 200 to 700
    //  <uniquifier>: Use a unique and descriptive class name
    //  .content {
    //   font-size: 14px;
    //  .oswald-<uniquifier>
    //     font-family: "Oswald", sans-serif;
    //     font-optical-sizing: auto;
    //     font-weight: <weight>;
    //     font-style: normal;
    
background-color: #100e17;
    
.roboto-serif-<uniquifier> {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}
    
.filetree {
    background-color: #191621;
    }
    
    
}

